<ba-card *ngIf="grnOrderModel.code" [title]="grnOrderModel.code">
  <div class="row form-inline">
    <div class="form-group col-sm-3 col-xs-6">
      <label>Item Code</label>

      <select #itemBox class="form-control" style="width: 100%" id="item" [(ngModel)]="model.itemCode" required
              autofocus="true">
        <option *ngFor="let item of items" [value]="item.code">{{item.name}}</option>
      </select>
    </div>

    <div class="form-group col-sm-3 col-xs-6">
      <label>Buying Price</label>
      <input class="form-control" id="buyingPrice" [(ngModel)]="model.unitBuyingPrice" placeholder="Buying price"
             type="number">
    </div>

    <div class="form-group col-sm-2 col-xs-6">
      <label>Unit</label>

      <select class="form-control" style="width: 100%" id="unit" [(ngModel)]="model.unit" required>
        <option *ngFor=" let unit of units" [value]="unit">{{unit}}</option>
      </select>
    </div>
    <div class="form-group col-sm-2 col-xs-6">
      <label>Quantity</label>
      <input class="form-control" id="reorder" (keydown.enter)="createOrder()" [(ngModel)]="model.numberOfUnits"
             placeholder="Quantity" type="number">
    </div>
    <div class="form-group col-sm-2 col-xs-6">
      <div style="width: 100%"></div>
      <label>Press Enter for add item</label>
    </div>
  </div>
  <hr/>

  <table class="table">
    <tr>
      <th>Batch</th>
      <th>Item Code</th>
      <th>Unit</th>
      <th>Quantity</th>
      <th>Buying Price</th>
      <th>Total Price</th>
    </tr>
    <tr *ngFor="let batch of itemBatches; let batchIndex= index">
      <td>{{batch.code}}</td>
      <td>{{batch.itemCode}}</td>
      <td>{{batch.unit}}</td>
      <td>{{batch.numberOfUnits}}</td>
      <td>{{batch.unitBuyingPrice}} LKR</td>
      <td>{{batch.unitBuyingPrice*batch.numberOfUnits}} LKR</td>
      <td>
        <a (click)="update(batch,batchIndex)">
          Change
        </a>
      </td>
    </tr>


  </table>


</ba-card>
